{{ define "main" }}
    <h2>
        {{ $title := .Title }}
        {{ $section := .Section | humanize }}
        {{ if and (ne $section $title) (ne $section "Tags") (ne $title (printf "%ss" $section)) }}
            {{ $section }}:
        {{ end }}
        {{ if and (eq $section "Tags") (ne $section $title) }}Tag: #{{ end }}{{ $title }}
    </h2>
    <ul>
        {{ range .Pages }}
        <li><span class="date">{{ .Date.Format "2006-01-02" }}</span> <a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
{{ end }}
