{{ define "main" }}
    {{- partial "inject/content-before.html" . -}}
    <article class="card {{ if .Site.Params.discreteCards }}discrete{{ end }} single">
        <h1>{{ .Title }}</h1>
        <p class="date">
            <span title="Date"> </span>
            {{ .Date.Format "2006-01-02" }}
        </p>
        {{ if .Params.Image }}
        <img src="{{ .Params.Image }}" alt="" />
        {{ end }}
        <div>{{ .Content }}</div>
    </article>
    {{ if .Params.tags }}
        {{ if not .Site.Params.discreteCards }}<hr />{{ end }}
        <p class="articleTagsContainer">
            <span> </span>
            <strong>Tags:</strong>
            {{ range .Params.tags }}
                <a
                    {{ if site.Params.discreteTags | default false }}
                    class="discreteTag"
                    {{ end }}
                    href="/tags/{{ . | urlize }}">#{{ . }}</a>
            {{ end }}
        </p>
    {{ end }}
    {{- partial "inject/content-after.html" . -}}
    {{ if .Site.Params.commento }}
        <script
            defer
            src="{{ .Site.Params.commento }}"
            data-no-fonts="true"
        ></script>
        <div id="commento"></div>
    {{ end }}
    {{- partial "related_articles.html" . -}}
{{ end }}
