{{ define "main" }}
    {{- partial "inject/content-before.html" . -}}
    <article>
        <h1>{{ .Title }}</h1>
        <p class="date">{{ .Date.Format "2006-01-02" }}</p>
        <div>{{ .Content }}</div>
        {{ if .Params.tags }}
            <hr />
            <p>
                <span> </span>
                <strong>Tags:</strong>
                {{ range .Params.tags }}
                    <a href="/tags/{{ . }}">#{{ . }}</a>
                {{ end }}
            </p>
        {{ end }}
    </article>
    {{- partial "inject/content-after.html" . -}}
    {{ if .Site.Params.commento }}
        <script
            defer
            src="{{ .Site.Params.commento }}"
            data-no-fonts="true"
        ></script>
        <div id="commento"></div>
    {{ end }}
{{ end }}
