<article class="card postlistitem">
    <div>
				procedure Meeting;<br />
        const <br />
				&nbsp; MeetingTitle = '<strong><a class="TitleLink" href="{{ .Permalink }}">{{ .Title }}</a></strong>';<br />
        &nbsp; MeetingMonth = <strong class="SummaryText">{{ partial "date.html" .Date }}</strong>;<br />
        {{ if and (site.Params.tagsInArticlePreview | default true) .Params.tags }}
            &nbsp; { tags:
            {{ range sort .Params.tags }}
                <a class="TagLink" href="/tags/{{ . | urlize }}">#{{ . }}</a>
            {{ end }}
						}
        {{ end }}
        {{ if .Site.Params.imageInArticlePreview }}
            {{ if .Params.Image }}
                <a class="unstyledLink" href="{{ .Permalink }}">
                    {{ if or (hasPrefix .Params.Image "/") (hasPrefix .Params.Image "http://") (hasPrefix .Params.Image "https://") }}
                        <img src="{{ .Params.Image }}" alt="{{ .Params.Alt }}" />
                    {{ else }}
                        <img src="{{ .Permalink }}/{{ .Params.Image }}" alt="{{ .Params.Alt }}" />
                    {{ end }}
                </a>
            {{ end }}
        {{end}}
        {{ if (site.Params.articleSummary | default true) }}
            <div class="articlePreview">
				begin<br />
				&nbsp; WriteLn('''Summary:<blockquote class="SummaryText">
                    {{ if .Params.description }}
                        {{ .Params.description }}
                    {{ else }}
                        {{.Summary }}
                    {{ end }}
				</blockquote>
				&nbsp; ''');<br />
				&nbsp; <a class="DetailsLink" href="{{ .Permalink }}">MeetingDetails(MeetingTitle, MeetingMonth)</a>;<br/>
				end;<br />
                
            </div>
        {{ end }}
    </div>
    <hr />
</article>
