<header>
    {{- partial "inject/header-before.html" . -}}
    <div class="titleAndSearchContainer">
        <div id="titleContainer">
            <img src='{{ .Site.Params.Logo | default "/logo.svg" }}' />
            <div style="width: 100%">
                <div class="titleAndHamburger">
                    <h1>{{ .Site.Title | default "Ficurinia" }}</h1>
                    {{ if .Site.Params.mobileHamburgerNav | default false }}
                        <label id="hamburger-menu" for="main-nav-toggler">
                            &#xf85b;
                        </label>
                    {{ end }}
                </div>
                <nav>
                    {{ if .Site.Params.mobileHamburgerNav | default false }}
                        <input type="checkbox" id="main-nav-toggler" />
                    {{ end }}
                    <ul id="main-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts">Posts</a></li>
                        {{ $pagesDir := .Site.Params.Pages | default (slice "pages") }}
                        {{ $pagesList := where .Site.RegularPages "Section" "in" $pagesDir }}
                        {{ range $pagesList }}
                            <li><a href="{{ .Permalink }}">
                                {{ or .Params.Button .Title }}
                            </a></li>
                        {{ end }}
                        {{ range .Site.Menus.main }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                        {{ if (.Site.Params.showTags | default true) }}
                            <li><a href="/tags">Tags</a></li>
                        {{ end }}
                        {{ if and (.Site.Params.searchMenuLink | default false) (.Site.Params.enableSearch | default true) }}
                            <li><a href="/search">Search</a></li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
        {{ if and (.Site.Params.searchbarEverywhere | default true) (and (.Site.Params.enableSearch | default true) (not (eq .Title "Search"))) }}
            {{- partial "searchbar.html" . -}}
        {{ end }}
    </div>
    <div id="links">
        {{ if .Site.Params.showRss | default true }}
            {{- partial "iconlink" (dict "Identifier" "rss" "Name" "RSS" "URL" "/index.xml") -}}
        {{ end }}
        {{ range .Site.Params.links }}
            {{- partial "nerdlink" . -}}
        {{ end }}
        {{ range .Site.Menus.icons }}
            {{- partial "iconlink" . -}}
        {{ end }}
    </div>
    {{- partial "inject/header-after.html" . -}}
</header>
